<section class="section-post">
    <div class="wrapper">
        <div class="pagetitle">
            <h1>{{category.title}}</h1>
        </div>
        <div class="breadcrumbs">
            <a href="/">Bosh sahifa</a> <span class="dash"></span> <span>{{category.title}}</span>
        </div>
        <div class="columns">
            <div class="columns_center">
                <div class="article article_list">
                    {{#each news}}
                    <div class="article_item">
                        <div class="article_item_cover">
                            <a href="/news/show/{{_id}}"><img src="/{{img}}" alt=""></a>
                            <a href="/category/show/{{_id}}" class="cats_item">{{category.title}}</a>
                        </div>
                        <div class="article_infoline infoline">
                            <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                            <div class="infoline_author">
                                <div class="ava"><img data-src="/{{author.avatar}}" src="/{{author.avatar}}" class="js-img" alt="">
                                </div>
                                {{author.name}}
                            </div>
                        </div>
                        <div class="article_txt">
                            <div class="article_title h2"><a href="/news/show/{{_id}}">{{title}}</a></div>
                            <div class="article_desc">{{description}}</div>
                            <div class="article_btn"><a href="/news/show/{{_id}}" class="btn">Batafsil</a></div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="pagenavi" data-count="{{count}}">
                    {{!-- <span class="current">1</span>
                    <a href="#">2</a>
                    <a href="#"><span class="icon-arrow"></span></a> --}}
                </div>
                <a href="#" class="bann"><img data-src="img/bad1.jpg" src="img/bad1.jpg" class="js-img" alt=""></a>
            </div>
            <aside class="columns_sidebar sidebar">
                <div class="sidebar_search">
                    <form>
                        <div class="search">
                            <input type="text" class="form-control" placeholder="Search..." />
                            <button class="btn"><span class="icon-search"></span></button>
                        </div>
                    </form>
                </div>
                <div class="sidebar_widget">
                    <h3>{{news.title}} yangiliklar</h3>
                    <div class="stories">
                        {{#each others}}
                        <div class="stories_item">
                            <div class="stories_item_img"><a href="/news/show/{{_id}}"><img data-src="/{{img}}" src="/{{img}}" class="js-img" alt="" /></a>
                            </div>
                            <div class="stories_item_infoline infoline">
                                <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                <div class="infoline_tag">{{hashList}}</div>
                            </div>
                            <div class="stories_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                    <h3>Bo'limlar</h3>
                    {{#each categories}}
                        <a href="/category/show/{{_id}}" class="cats_item">{{title}}</a>
                    {{/each}}
                </div>
                <a href="#" class="bann"><img data-src="img/bad2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                        class="js-img" alt="" /></a>
                <div class="sidebar_widget">
                    <h3>Follow us</h3>
                    <div class="soc">
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-fb"></span></span>
                                <span class="soc_item_txt">2,1 k+</span>
                            </a>
                        </div>
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-tw"></span></span>
                                <span class="soc_item_txt">3,6 k+</span>
                            </a>
                        </div>
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-youtube"></span></span>
                                <span class="soc_item_txt">2,8 k+</span>
                            </a>
                        </div>
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-instagram"></span></span>
                                <span class="soc_item_txt">6,3 k+</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <h3>Mashhur yangiliklar</h3>
                    <div class="popular">
                        {{#each popular}}
                        <div class="popular_item">
                            <div class="popular_item_img"><a href="/news/show/{{_id}}"><img data-src="/{{img}}" src="/{{img}}" class="js-img" alt="" /></a>
                            </div>
                            <div class="popular_item_cont">
                                <div class="popular_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                                <div class="popular_item_infoline infoline">
                                    <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                    <div class="infoline_tag"><span class="icon-comm"></span>{{comments.length}}</div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<script>
    let pagenavi = document.querySelector('.pagenavi')
    let count = pagenavi.getAttribute('data-count')
    for(i=0; i<count; i++){
        pagenavi.innerHTML += `     
            <a href="/category/show/{{category._id}}?page=${i}">${i+1}</a>
        `
    }

</script>