<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h5 class="card-title mb-0">{{title}}</h5>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Yangi maqola
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Sarlavha</th>
                    <th scope="col">Bo'lim</th>
                    <th scope="col">Muallif</th>
                    <th scope="col">Ko'rishlar soni</th>
                    <th scope="col">Holati</th>
                    <th scope="col">Top</th>
                    <th scope="col">Hot</th>
                    <th scope="col">Popular</th>
                    <th scope="col">Big popular</th>
                    <th scope="col">Top week</th>
                    <th scope="col">Izohlar</th>
                </tr>
            </thead>
            <tbody>
                {{#each news}}
                <tr>
                    <th scope="row">{{index}}</th>
                    <td><a href="/news/view/{{_id}}">{{title}}</a></td>
                    <td>{{category.title}}</td>
                    <td>{{author.name}}</td>
                    <td>{{view}}</td>
                    <td><a href="/news/change/status/{{_id}}/news">{{{status}}}</a></td>
                    <td><a href="/news/change/top/{{_id}}/news">{{{top}}}</a></td>
                    <td><a href="/news/change/hot/{{_id}}/news">{{{hot}}}</a></td>
                    <td><a href="/news/change/popular/{{_id}}/news">{{{popular}}}</a></td>
                    <td><a href="/news/change/bigpopular/{{_id}}/news">{{{bigpopular}}}</a></td>
                    <td><a href="/news/change/topweek/{{_id}}/news">{{{topweek}}}</a></td>
                    <td><a href="/news/change/comments/{{_id}}/news">{{{comments.length}}}</a></td>
                </tr>
                {{/each }}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yangi maqola</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body mb-4">
                <form action="/news/?_csrf={{csrf}}" method="post" enctype="multipart/form-data">
                    {{!-- <input type="hidden" name="_csrf" value="{{csrf}}"> --}}
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group mb-2">
                                <label for="name">Maqola sarlavasi</label>
                                <input type="text" name="title" id="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Bo'limni tanlang</label>
                                <select name="category" class="form-control custom-select" id="exampleFormControlSelect1">
                                    {{#each category}}
                                        <option value="{{_id}}">{{title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Bo'limni tanlang</label>
                                <select name="author" class="form-control custom-select" id="exampleFormControlSelect1">
                                    {{#each author}}
                                        <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Yangilik qisqa matni</label>
                                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Yangilik to'liq matni</label>
                                <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-4">
                                <label for="img">Maqola rasmi</label>
                                <input type="file" id="img" name="img" class="form-control">
                            </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-4">
                                <label for="hashList">Maqola hashteglari (vergul bilan ajrating)</label>
                                <input type="text" name="hashList" id="hashList" class="form-control">
                            </div> 
                        </div>
                        <div class="col-2">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" name="status" value="1" class="custom-control-input" id="status" checked>
                                <label class="custom-control-label" for="status">Faol</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" name="slider" value="1" class="custom-control-input" id="slider" checked>
                                <label class="custom-control-label" for="slider">Slider</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" name="top" value="1" class="custom-control-input" id="top" checked>
                                <label class="custom-control-label" for="top">Top</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" name="hot" value="1" class="custom-control-input" id="hot" checked>
                                <label class="custom-control-label" for="hot">Hot</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" name="popular" value="1" class="custom-control-input" id="popular" checked>
                                <label class="custom-control-label" for="popular">Popular</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" name="bigpopular" value="1" class="custom-control-input" id="bigpopular" checked>
                                <label class="custom-control-label" for="bigpopular">BigPopular</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="custom-control custom-checkbox form-group">
                                <input type="checkbox" name="topweek" value="1" class="custom-control-input" id="topweek" checked>
                                <label class="custom-control-label" for="topweek">TopWeek</label>
                            </div>
                        </div>
                    </div>
                                                   
                    <button type="submit" class="btn btn-primary">Kiritish</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog" role="document">              
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tahrirlash</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">                                    
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body mb-4">
                <form action="/author/save/?_csrf={{csrf}}" method="post" name="editform" enctype="multipart/form-data">
                    <input type="hidden" name="_id">
                    {{!-- <input type="hidden" name="_csrf" value="{{csrf}}"> --}}
                    <div class="form-group mb-2">
                        <input type="text" name="name" class="form-control" placeholder="Muallif ism-familyasi">
                    </div>
                    <div class="form-group mb-2">
                        <input type="file" name="avatar" class="form-control">
                    </div>
                    <div class="form-group mb-2">
                        <img src="" alt="" id="avatar" width="70">
                    </div>
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<script>

    CKEDITOR.replace('text')        

    let form = document.forms.editform
    let avatar = document.getElementById('avatar')
    const edit = (id) => {  
        fetch(`/author/${id}`)
            .then(res => res.json()) 
            .then(author => {
                form._id.value = author._id 
                form.name.value = author.name 
                avatar.setAttribute('src',author.avatar)
            })
    }   
</script>