<div class="d-flex align-items-center mb-4">
    <h5 class="card-title">{{news.title}}</h5>
    <button onclick="edit('{{_id}}')" class="btn btn-warning ml-auto">Tahrirlash</button>
    <a href="/news/delete/{{_id}}" class="btn btn-danger ml-2"
        onclick="return confirm('Qaroringiz aniqmi?')">O'chirish</a>
</div>
<div class="row">
    <div class="col-8">
        <div class="card">
            <img src="/{{news.img}}" class="card-img-top" alt="Placeholder">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    Hashteglar ro'yhati:
                    <span>{{news.hashList}}</span>
                </div>
                <p class="card-text mt-3">
                    <h6>Qisqa matn:</h6>
                    {{news.description}}
                </p>
                <hr>
                <h6>To'liq matn</h6>
                {{news.text}}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card sticky-top">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    Muallif:
                    <a href="/author/more/{{news.author._id}}">{{news.author.name}}</a>
                </div>
                <div class="d-flex justify-content-between">
                    Bo'lim:
                    <a href="/author/more/{{category.author._id}}">{{news.category.title}}</a>
                </div>
                <div class="d-flex justify-content-between">
                    Yaratilgan vaqt:
                    <span>{{news.createdAt}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    Ko'rishlar soni:
                    <span>{{news.view}}</span>
                </div>
                <hr>
                <div class="row">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Status:
                            <a href="/news/change/status/{{news._id}}/view">{{{news.status}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Sliderda chiqishi:
                            <a href="/news/change/slider/{{news._id}}/view">{{{news.slider}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Ommabop yangilik:
                            <a href="/news/change/popular/{{news._id}}/view">{{{news.popular}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Ommabop katta yangilik:
                            <a href="/news/change/bigpopular/{{news._id}}/view">{{{news.bigpopular}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Top yangilik:
                            <a href="/news/change/top/{{news._id}}/view">{{{news.top}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Qaynoq yanglik:
                            <a href="/news/change/hot/{{news._id}}/view">{{{news.hot}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Hafta top yangiligi:
                            <a href="/news/change/topweek/{{news._id}}/view">{{{news.topweek}}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="mt-4 mb-3">Yangilikka yozilgan izohlar ro'yhati</h4>
<div class="card">
    <table class="table" id="comments">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Ismi</th>
                <th scope="col">Telefon raqami</th>
                <th scope="col">Emaili</th>
                <th scope="col">Izohi</th>
                <th scope="col">Yaratilgan vaqti</th>
                <th scope="col">Holati</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each news.comments}}
                <tr>
                    <td>{{index}}</td>
                    <td>{{name}}</td>
                    <td>{{phone}}</td>
                    <td>{{email}}</td>
                    <td>{{text}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                        <a href="/news/changecomment/{{@root.news._id}}/{{@index}}">{{{status}}}</a>
                    </td>
                    <td>
                        <a href="/news/deletecomment/{{@root.news._id}}/{{@index}}" class="badge badge-danger ml-2" onclick="return confirm('Qaroringiz qat`iymi?')"><i class="fas fa-times"></i></a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

