<div class="d-flex align-items-center mb-4">
    <h5 class="card-title">{{news.title}}</h5>
    <button onclick="edit('{{_id}}')" class="btn btn-warning ml-auto">Tahrirlash</button>
    <a href="/news/delete/{{_id}}" class="btn btn-danger ml-2"
        onclick="return confirm('Qaroringiz aniqmi?')">O'chirish</a>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <img src="/{{news.img}}" class="card-img-top" alt="Placeholder">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    Hashteglar ro'yhati:
                    <span>{{news.hashList}}</span>
                </div>
                <p class="card-text mt-3">
                    <h6>Qisqa matn:</h6>
                    {{news.description}}
                </p>
                <hr>
                <h6>To'liq matn</h6>
                {{news.text}}
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    Muallif:
                    <a href="/author/more/{{news.author._id}}">{{news.author.name}}</a>
                </div>
                <div class="d-flex justify-content-between">
                    Bo'lim:
                    <a href="/author/more/{{category.author._id}}">{{news.category.title}}</a>
                </div>
                <div class="d-flex justify-content-between">
                    Yaratilgan vaqt:
                    <span>{{news.createdAt}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    Ko'rishlar soni:
                    <span>{{news.view}}</span>
                </div>
                <hr>
                <div class="row">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Status:
                            <a href="/news/change/status/{{news._id}}/view">{{{news.status}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Sliderda chiqishi:
                            <a href="/news/change/slider/{{news._id}}/view">{{{news.slider}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Ommabop yangilik:
                            <a href="/news/change/popular/{{news._id}}/view">{{{news.popular}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Ommabop katta yangilik:
                            <a href="/news/change/bigpopular/{{news._id}}/view">{{{news.bigpopular}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Top yangilik:
                            <a href="/news/change/top/{{news._id}}/view">{{{news.top}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Qaynoq yanglik:
                            <a href="/news/change/hot/{{news._id}}/view">{{{news.hot}}}</a>
                        </div>
                        <div class="col-12 mb-2 d-flex justify-content-between">
                            Hafta top yangiligi:
                            <a href="/news/change/topweek/{{news._id}}/view">{{{news.topweek}}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>