<main class="content">
    <div class="section-welcome">
        <div class="welcome_slider js-welcome_slider">
            {{#each sliderNews}}
            <div class="welcome_slider_item"><a href="/news/show/{{_id}}" class="cover_link"></a>
                <div class="welcome_slider_img"><img src="/{{img}}" alt="" /></div>
                <div class="welcome_slider_cont">
                    <div class="welcome_slider_cats cats">
                        <a href="/category/show/{{_id}}" class="cats_item">{{category.title}}</a>
                    </div>
                    <div class="welcome_slider_title h3"><a href="/news/show/{{_id}}">{{title}}</a></div>
                    <div class="welcome_slider_infoline infoline">
                        <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                        <div class="infoline_author">
                            <div class="ava"><img data-src="/{{author.avatar}}"
                                src="/{{author.avatar}}" class="js-img" alt="" /></div>
                            {{author.name}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}   
        </div>
    </div>
    <section class="section-stories">
        <div class="wrapper">        
            {{!-- <a href="#" class="bann"><img src="img/bad3.jpg" alt="" /></a> --}}
            <div id="recent" class="recent_wrap">
                <div class="section_title">
                    <h2>Ohirgi yangiliklar</h2>
                </div>
                <div class="columns">
                    <div class="columns_center">
                        <div class="recent">
                            {{#each recentNews}}
                            <div class="recent_item">
                                <div class="recent_item_img">
                                    <a href="/news/show/{{_id}}"><img data-src="/{{img}}" src="/{{img}}" class="js-img" alt="" /></a>
                                    <div class="recent_item_cats cats"><a href="/category/show/{{category._id}}" class="cats_item">{{category.title}}</a>
                                    </div>
                                </div>
                                <div class="recent_item_cont">
                                    <div class="recent_item_title h3"><a href="/news/show/{{_id}}">{{title}}</a></div>
                                    <div class="recent_item_txt">{{description}}</div>
                                    <div class="recent_item_infoline infoline">
                                        <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                        <div class="infoline_author">
                                            <div class="ava"><img data-src="/{{author.avatar}}"
                                                    src="/{{author.avatar}}" class="js-img"
                                                    alt="" /></div>
                                            {{author.name}}
                                        </div>
                                        <a href="/news/show/{{_id}}" class="btn-arr"><span class="icon-arrow"></span></a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <aside class="columns_sidebar sidebar">
                        <div class="sidebar_widget">
                            <div class="stories">
                                {{#each recentSideNews}}
                                <div class="stories_item">
                                    <div class="stories_item_img"><a href="/news/show/{{_id}}"><img data-src="/{{img}}"
                                                src="/{{img}}" class="js-img"
                                                alt="" /></a></div>
                                    <div class="stories_infoline infoline">
                                        <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                        <div class="infoline_tag">{{hashList}}</div>
                                    </div>
                                    <div class="stories_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="stories_btn"><a href="/news/all" class="btn">Barchasini ko'rish</a></div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section class="section-popular" id="popular">
        <div class="wrapper">
            <div class="section_title">
                <h2>Ommabop yangiliklar</h2>
                <a href="/news/popular/" class="link-view">Barcha ommabop yangiliklar<span class="icon-arr"></span></a>
            </div>
            <div class="columns columns-invers">
                <div class="columns_center">
                    <div class="popular_main">
                        <div class="popular_main_img"><a href="/news/show/{{bigPopular._id}}"><img data-src="/{{bigPopular.img}}"
                                    src="/{{bigPopular.img}}" class="js-img" alt="" /></a></div>
                        <div class="popular_main_cont">
                            <div class="popular_main_infoline infoline">
                                <div class="infoline_date">{{bigPopular.createdAt}}</div> <span class="dash"></span>
                                <div class="infoline_tag">{{bigPopular.hashList}}</div>
                            </div>
                            <div class="popular_main_title h3"><a href="/news/show/{{bigPopular._id}}">{{bigPopular.title}}</a></div>
                            <div class="popular_main_txt">{{bigPopular.description}}</div>
                            <a href="/news/show/{{bigPopular._id}}" class="link-view" > Batafsil <span class="icon-arr"></span></a>
                        </div>
                    </div>
                </div>
                <aside class="columns_sidebar sidebar">
                    <div class="sidebar_widget">
                        <div class="popular">
                            {{#each popularNews}}
                            <div class="popular_item">
                                <div class="popular_item_img"><a href="/news/show/{{_id}}"><img data-src="/{{img}}" src="/{{img}}" class="js-img" alt="" /></a></div>
                                <div class="popular_item_cont">
                                    <div class="popular_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                                    <div class="popular_item_infoline infoline">
                                        <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                        <div class="infoline_tag">{{hashList}}</div> <span class="dash"></span>
                                        <div class="infoline_tag"><span class="icon-comm"></span>{{comments.length}}</div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <section class="section-readed">
        <div class="wrapper">
            <a href="#" class="bann"><img data-src="img/bad4.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                    class="js-img" alt="" /></a>
            <div class="columns" id="mostreaded">
                <div class="columns_center">
                    <div class="section_title">
                        <h2>Eng ko'p o'qolgan yangiliklar</h2>
                        <a href="/news/mostview" class="link-view">Barchasi<span class="icon-arr"></span></a>
                    </div>
                    <div class="readed">
                        {{#each viewNews}}
                            <div class="readed_item">
                            <div class="readed_item_img">
                                <a href="/news/show/{{_id}}"><img data-src="/{{img}}"
                                        src="/{{img}}" class="js-img" alt="" /></a>
                                <div class="readed_item_cats cats">
                                    <a href="/category/show/{{category._id}}" class="cats_item">{{category.title}}</a>
                                </div>
                            </div>
                            <div class="readed_item_cont">
                                <div class="readed_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                                <div class="readed_item_infoline infoline">
                                    <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                    <div class="infoline_author">
                                        <div class="ava"><img data-src="/{{author.avatar}}"
                                                src="/{{author.avatar}}" class="js-img"
                                                alt="" /></div>
                                        {{author.name}}
                                    </div>
                                    <a href="/news/show/{{_id}}" class="btn-arr"><span class="icon-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <aside class="columns_sidebar sidebar">
                    <div class="section_title">
                        <h2>Bo'limlar</h2>
                    </div>
                    <div class="sidebar_widget">
                        <ul class="catlist" id="statusCategory"></ul>
                    </div>
                    <a href="#" class="bann"><img data-src="img/bad2.jpg"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="" /></a>
                </aside>
            </div>
        </div>
    </section>
    <section class="section-subsc">
        <div class="wrapper">
            <form>
                <div class="subsc">
                    <h3>Stay up to date!<br />Sunscribe!</h3>
                    <input type="text" class="form-control" placeholder="Your email" />
                    <button class="btn">subscribe</button>
                </div>
            </form>
        </div>
    </section>
    <section class="section-hot" id="hot">
        <div class="wrapper">
            <div class="section_title">
                <h2>Eng qaynoq xabar</h2>
            </div>
            <div class="hot">
                <div class="hot_img"><a href="/news/show/{{hotNews._id}}"><img data-src="/{{hotNews.img}}"
                            src="/{{hotNews.img}}" class="js-img" alt="" /></a></div>
                <div class="hot_cont">
                    <div class="hot_cats cats">
                        <a href="/news/show/{{hotNews.category._id}}" class="cats_item">{{hotNews.category.title}}</a>
                    </div>
                    <h2 class="hot_title"><a href="/news/show/{{hotNews._id}}">{{hotNews.title}}</a></h2>
                    <div class="hot_txt">{{hotNews.description}}</div>
                    <div class="hot_infoline infoline">
                        <div class="infoline_date">{{hotNews.createdAt}}</div> <span class="dash"></span>
                        <div class="infoline_author">
                            <div class="ava"><img data-src="/{{hotNews.author.avatar}}"
                                    src="/{{hotNews.author.avatar}}" class="js-img" alt="" /></div>
                            {{hotNews.author.name}}
                        </div>
                    </div>
                    <a href="/news/show/{{hotNews._id}}" class="link-view">Batafsil <span class="icon-arr"></span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-topof" id="top">
        <div class="wrapper">
            <div class="section_title">
                <h2>Mashhur yangiliklar</h2>
                <a href="/news/topweek" class="link-view">Batafsil <span class="icon-arr"></span></a>
            </div>
            <div class="topof">
                {{#each topWeek}}
                <div class="topof_item">
                    <div class="topof_item_img"><a href="/news/show/{{_id}}"><img data-src="/{{img}}"
                                src="/{{img}}" class="js-img" alt="" /></a></div>
                    <div class="topof_cats cats">
                        <a href="/category/show/{{category._id}}" class="cats_item">{{category.title}}</a>
                    </div>
                    <div class="topof_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                    <div class="topof_item_infoline infoline">
                        <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                        <div class="infoline_author">
                            <div class="ava"><img data-src="/{{author.avatar}}"
                                    src="/{{author.avatar}}" class="js-img" alt="" /></div>
                            {{author.name}}
                        </div>
                    </div>
                    <a href="/news/show/{{_id}}" class="link-view">Batafsil <span class="icon-arr"></span></a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</main>