<div class="section-post">
    <div class="wrapper">
        <div class="pagetitle">
            <div class="h1">Post</div>
        </div>
        <div class="breadcrumbs">
            <a href="/">Bosh sahifa</a> <span class="dash"></span> <a href="/category/show/{{news.category._id}}">{{news.category.title}}</a> <span class="dash"></span> <span>{{news.title}}</span>
        </div>
        <div class="columns">
            <div class="columns_center">
                <article class="article">
                    <div class="article_cover">
                        <img src="/{{news.img}}" alt="" />
                        <a href="/category/show/{{news.category._id}}" class="cats_item">{{news.category.title}}</a>
                    </div>
                    <div class="article_infoline infoline">
                        <div class="infoline_date">{{news.createdAt}}</div> <span class="dash"></span>
                        <div class="infoline_author">
                            <div class="ava"><img data-src="/{{news.author.avatar}}"
                                    src="/{{news.author.avatar}}" class="js-img" alt="" /></div>
                            {{news.author.name}}
                        </div>
                    </div>
                    <div class="article_txt">
                        <h1>{{news.title}}</h1>
                        {{news.text}}
                    </div>
                    <div class="article_tags">
                        <div class="article_tags_title">Tags:</div>
                        <a href="blog.html">#Travel</a> <span class="dash"></span> <a href="blog.html">#holiday</a>
                        <span class="dash"></span> <a href="blog.html">#hobby</a>
                    </div>
                    <div class="author">
                        <div class="author_img"><img data-src="img/ava.png"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="" /></div>
                        <div class="author_cont">
                            <div class="author_name">Marie Caphlish</div>
                            <div class="author_txt">Web developer since 2006. Create hundreds of websites, HTML and CSS3
                                expert, who started to learn web design on a <span class="nowrap">world-class</span>
                                level. </div>
                        </div>
                    </div>
                </article>
                <div class="comments_form" id=" ">
                    <h3>O'z izohingizni qoldiring...</h3>
                    <form id="form" action="/news/newcomment/{{news._id}}" method="post">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                        <div class="form_cols">
                            <div class="form_cols_item">
                                <div class="form_row">
                                    <input type="text" class="form-control" placeholder="O'zingizni tanishtiring" name="name" required/>
                                </div>
                            </div>
                            <div class="form_cols_item">
                                <div class="form_row">
                                    <input type="tel" class="form-control" placeholder="+998 (___) ___ __ __"
                                        name="phone" required/>
                                </div>
                            </div>
                            <div class="form_cols_item">
                                <div class="form_row">
                                    <input type="email" class="form-control" placeholder="Email manzilingiz" name="email" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <textarea class="form-control" placeholder="Izoh matningizni qoldiring" name="text" required></textarea>
                        </div>
                        <div class="form_btn"><button class="btn">Jo'natish</button></div>
                    </form>
                </div>
                <a href="#" class="bann"><img data-src="img/bad1.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                        class="js-img" alt="" /></a>
            </div>
            <aside class="columns_sidebar sidebar">
                <div class="sidebar_search">
                    <form>
                        <div class="search">
                            <input type="text" class="form-control" placeholder="Search..." />
                            <button class="btn"><span class="icon-search"></span></button>
                        </div>
                    </form>
                </div>
                <div class="sidebar_widget">
                    <h3>{{news.category.title}}ga oid yangiliklar</h3>
                    <div class="stories">
                        {{#each others}}
                        <div class="stories_item">
                            <div class="stories_item_img"><a href="/news/show/{{_id}}"><img data-src="/{{img}}" src="/{{img}}" class="js-img" alt="" /></a>
                            </div>
                            <div class="stories_item_infoline infoline">
                                <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                <div class="infoline_tag">{{hashList}}</div>
                            </div>
                            <div class="stories_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                    <h3>Bo'limlar</h3>
                    {{#each categories}}
                        <a href="/category/show/{{_id}}" class="cats_item">{{title}}</a>
                    {{/each}}
                </div>
                <a href="#" class="bann"><img data-src="img/bad2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                        class="js-img" alt="" /></a>
                <div class="sidebar_widget">
                    <h3>Follow us</h3>
                    <div class="soc">
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-fb"></span></span>
                                <span class="soc_item_txt">2,1 k+</span>
                            </a>
                        </div>
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-tw"></span></span>
                                <span class="soc_item_txt">3,6 k+</span>
                            </a>
                        </div>
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-youtube"></span></span>
                                <span class="soc_item_txt">2,8 k+</span>
                            </a>
                        </div>
                        <div class="soc_item">
                            <a href="#" target="_blank">
                                <span class="soc_item_icon"><span class="icon-instagram"></span></span>
                                <span class="soc_item_txt">6,3 k+</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <h3>Mashhur yangiliklar</h3>
                    <div class="popular">
                        {{#each popular}}
                        <div class="popular_item">
                            <div class="popular_item_img"><a href="/news/show/{{_id}}"><img data-src="/{{img}}" src="/{{img}}" class="js-img" alt="" /></a>
                            </div>
                            <div class="popular_item_cont">
                                <div class="popular_item_title"><a href="/news/show/{{_id}}">{{title}}</a></div>
                                <div class="popular_item_infoline infoline">
                                    <div class="infoline_date">{{createdAt}}</div> <span class="dash"></span>
                                    <div class="infoline_tag"><span class="icon-comm"></span>{{comments.length}}</div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>